<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo List</title>
    </head>
    <body>
        <h1>Index of todo lists</h1>
        <form action="/new-list" method="POST">
            <input type="submit" value="Add New List">
        </form>

        <ol>
            <% for (const todolist of lists) { %>
                <li><a href="/view-list?id=<%= todolist._id %>"><%= todolist.title %></a></li>
            <% } %>
        </ol>
    </body>
</html>
