<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo List</title>
    </head>
    <body>
        <h1>TODO list <%= title %></h1>
        <div>
            <a href="/">back</a>
        </div>
        <div>
            <span>Title</span>
            <form action="/change-item-title" method="POST">
                <input type="hidden" name="id" value="<%= _id %>">
                <input type="text" name="title" value="<%= title %>">
                <input type="submit" value="Change title">
            </form>
        </div>

        <div>
            <% for (const [index, item] of items.entries()) { %>
                <div style="display: flex;">
                    <form action="/delete-item" method="POST">
                        <input type="hidden" name="id" value="<%= _id %>">
                        <input type="hidden" name="index" value="<%= index %>">
                        <input type="submit" value="X">
                    </form>
                    <span><%= index + 1 %>. <%= item.content %>, </span>
                    <form action="/toggle-item" method="POST">
                        <input type="hidden" name="id" value="<%= _id %>">
                        <input type="hidden" name="index" value="<%= index %>">
                        <% if (item.completed) { %>
                            <input type="submit" value="completed">
                        <% } else { %>
                            <input type="submit" value="uncompleted">
                        <% } %>
                    </form>
                </div>
            <% } %>
        </div>

        <form action="/add-item" method="POST">
            <label for="content">Add Item:</label>
            <input type="hidden" name="id" value="<%= _id %>">
            <input type="text" name="content">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
